*{
	box-sizing:border-box;
	margin:0;
	padding:0;
}
.title{
	width:100%;
	height:40px;
	background:#899299;
	position:fixed;
	z-index: 99999;
	
}
.search{
	width:80%;
	height:30px;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	margin:auto;
	border:1px solid #ccc;
	border-radius:10px;
	outline: none;
}
.content{
	padding-top:30px;
}
#contact dt{ 
	height:30px;
	padding:0 20px;
	background:#ddd;
	line-height:30px;
}
#contact dd{
	height:40px;
	border-bottom:1px solid #ccc;
	line-height:40px;
	padding:0 20px;
	position:relative;
}
#contact dd a{
	position: absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
}
#c-index{
	width:30px;
	height:100px;
	position:fixed;
	right:20px;
	top:0;
	bottom:0;
	margin:auto;
	background:#ccc;
}
#c-index div{
	color:#000;
	text-align:center;
	padding-top:5px;
}

#tip{
	padding:0 20px;
	width:100%;
	height:30px;
	line-height:30px;
	position:fixed;
	top:40px;
	background:#B2B2DC;
}
